//colors
$off-white: #f8f8f8;
$pale-blue: #c3d6e0;
$aqua-blue: #58a3ba;
$blue: #2b719c;
$gray-brown: #8e9099;
$beige: #c2b8bd;
$beige-light: lighten($beige, 15%);
$beige-lighter: lighten($beige, 24%);
$sand: #e8dadb;
$body-bg: $sand;
$gray-brown-dark: darken($gray-brown, 15%);
$gray: $gray-brown-dark;
$brand-primary: $gray-brown-dark;
$btn-default-bg: $beige-light;
$btn-default-color: $gray;
$input-color-placeholder: $pale-blue;
$input-color: $blue;

@import "../../libraries/bootstrap-sass-official/assets/stylesheets/bootstrap";

.input {
  background-color: $beige-lighter;
  color: $blue;
  font-weight: bold;
}

.primary {
  color: $brand-primary;
}

a.headline:hover {
  text-decoration: none;
  color: $off-white;
}

.headline {
  color: $beige-lighter;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
}

.main-wrapper.compact .headline {
  font-size: 2em;
}

.subheading {
  font-size: 1.5em;
  color: $beige-lighter;
  margin-bottom: 0px;
}

.main-wrapper.compact .subheading {
  display: none;
}

.main-wrapper {
  @include gradient-vertical($start-color: $blue, $end-color: $aqua-blue);
  background-color: $aqua-blue;
  margin: 0px;
  margin-top: -20px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  min-height: 35%;
}

.main-wrapper.compact {

}